<!DOCTYPE html>  
<html lang="es">  

<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Galería</title>  
    <link rel="stylesheet" href="/styles.css">  
</head>  

<body>  
    <header>  
        <div class="holder">  
            <img src="/public/images/dia mundial sin tabaci.jpg" alt="Imagen del día mundial sin tabaco" />  
            <h1>No es bueno</h1>  
        </div>  
    </header>  

    <nav>  
        <div class="holder">  
            <ul>  
                <li><a href="/public/pages/index.html">Home</a></li>  
                <li><a href="/public/pages/temas.html">Temas</a></li>  
                <li><a class="activo" href="/public/pages/galeria.html">Galería</a></li>  
                <li><a href="/public/pages/organizacion.html">Organización</a></li>  
                <li><a href="/public/pages/noticias.html">Noticias</a></li>  
                <li><a href="/public/pages/Ingresar.html">Ingresar</a></li>  
            </ul>  
        </div>  
    </nav>  

    <div class="row">  
        <div class="column">  
            <img src="/public/images/fumando1jpg.jpg" width="200" height="250" alt="Imagen fumando 1" />  
            <img src="/public/images/fumando2.jpg" width="200" height="250" alt="Imagen fumando 2" />  
            <img src="/public/images/fumando3.jpg" width="200" height="250" alt="Imagen fumando 3" />  
            <img src="/public/images/fumando4.jpg" width="200" height="250" alt="Imagen fumando 4" />  
            <img src="/public/images/fumando5.jpg" width="200" height="250" alt="Imagen fumando 5" />  
            <img src="/public/images/fumando5.jpg" width="200" height="250" alt="Imagen fumando 6" />  
        </div>  
        <!-- Repite para las columnas adicionales según sea necesario -->  
    </div>  

    <footer>  
        <p>Diseño Por Daniel Diaz - &copy;2024</p>  
    </footer>  

</body>  

</html> 