<!DOCTYPE html>  
<html lang="es">  

<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="public/stylesheets/normalize.css">  
    <link rel="stylesheet" href="public/styesheets.notabaco.css">  
    <link rel="icon" href="public/images/dia mundial sin tabaci.jpg" type="image/x-icon">  
    <title>No Tabaco 2024</title>  
</head>   

<body>  
    <header>  
        <div class="holder">  
            <img src="/public/images/dia mundial sin tabaci.jpg" alt="Imagen del día mundial sin tabaco" />  
            <h1>No es bueno</h1>  
        </div>  
    </header>  

    <nav>  
        <div class="holder">  
            <ul>  
                <li><a href="/public/pages/index.js">Home</a></li>  
                <li><a class="activo" href="/public/pages/temas.js">Temas</a></li>  
                <li><a href="/public/pages/galeria.js">Galeria</a></li>  
                <li><a href="/public/pages/organizacion.js">Organizacion</a></li>  
                <li><a href="/public/pages/noticias.js">Noticias</a></li>  
                <li><a href="/public/pages/ingresar.js">Ingresa</a></li>  
            </ul>  
        </div>  
    </nav>  

    <div class="row">  
        <div class="column">  
            <img src="/public/images/fumando1jpg.jpg" width="200" height="250" alt="Imagen fumando 1" />  
            <img src="/public/images/fumando2.jpg" width="200" height="250" alt="Imagen fumando 2" />  
            <img src="/public/images/fumando3.jpg" width="200" height="250" alt="Imagen fumando 3" />  
            <img src="/public/images/fumando4.jpg" width="200" height="250" alt="Imagen fumando 4" />  
            <img src="/public/images/fumando5.jpg" width="200" height="250" alt="Imagen fumando 5" />  
            <img src="/public/images/fumando5.jpg" width="200" height="250" alt="Imagen fumando 6" />  
        </div>  
        <!-- Repite para las columnas adicionales según sea necesario -->  
    </div>  

    <footer>  
        <p>Diseño Por Daniel Diaz - &copy;2024</p>  
    </footer>  

</body>  

</html> 